Valores Booleanos

In [1]:
True

True

In [2]:
False

False

In [3]:
a = True
type(a)

bool

In [4]:
int(True)

1

In [5]:
int(False)

0

In [6]:
True + True

2

In [7]:
True - True

0

In [8]:
True * True

1

In [9]:
bool(0)

False

In [10]:
bool(None)

False

In [12]:
bool(35)

True

In [13]:
bool('a')

True

### Operadores de Comparação

In [24]:
# Estritamente menor
print(20 < 12)
print(10 < 12)
print(20 < 20)

False
True
False

In [23]:
# Menor ou igual
print(20 <= 12)
print(10 <= 12)
print(20 <= 20)

False
True
True

In [25]:
# Estritamente maior
print(20 > 12)
print(10 > 12)
print(20 > 20)

True
False
False

In [26]:
# Maior ou igual
print(20 >= 12)
print(10 >= 12)
print(20 >= 20)

True
False
True

In [27]:
# Igual
print(20 == 12)
print(10 == 12)
print(20 == 20)

False
False
True

In [28]:
# Diferente
print(20 != 12)
print(10 != 12)
print(20 != 20)

True
True
False

### Condicional (if/elif/else)

In [37]:
a = 40

if a < 30:
    print('"a" é menor do que 30.')
elif a < 50:
    print('"a" é menor do que 50 e maior ou igual a 30.')
else:
    print('"a" é maior ou igual que 50.')

"a" é menor do que 50 e maior ou igual a 30.

### Loops (while)

In [42]:
a = 0

while a < 10:
    print(f'a é igual à: {a}')
    a = a + 1

a é igual à: 0
a é igual à: 1
a é igual à: 2
a é igual à: 3
a é igual à: 4
a é igual à: 5
a é igual à: 6
a é igual à: 7
a é igual à: 8
a é igual à: 9

## Exercício

- Crie uma variável com uma senha.
- Peça ao usuário para inserir uma senha.
- Verifique se a senha está correta.
- Equanto não estiver correta, peça a senha novamente.
- Se estiver correta, escreva uma mensagem bonita.

In [44]:
resposta = "Rogerio2019"
tentativa = input('Digite uma senha: ')

while resposta != tentativa:
    print('Tente novamente.')
    tentativa = input('Digite uma senha: ')

print('Parabéns! Você acertou a senha! :D')

Digite uma senha: oi
Tente novamente.
Digite uma senha: Kazu
Tente novamente.
Digite uma senha: Rogerio2019
Parabéns! Você acertou a senha! :D

## Exercicio 2

Conte quantas tentativas foram feitas.

In [50]:
resposta = "Rogerio2019"
tentativa = input('Digite uma senha: ')
contador = 1

while resposta != tentativa:
    print('Tente novamente.')
    tentativa = input('Digite uma senha: ')
    contador += 1
    if contador >= 3:
        print('Você foi bloqueado.')
        break

if contador < 3:
    print('Parabéns! Você acertou a senha! :D')

Digite uma senha: lala
Tente novamente.
Digite uma senha: oi
Tente novamente.
Digite uma senha: deu bom
Você foi bloqueado.

In [61]:
resposta = "Rogerio2019"
tentativa = input('Digite uma senha: ')

while True:
    if resposta == tentativa:
        break
    else:
        print('Tente novamente.')
        tentativa = input('Digite uma senha: ')

print('Parabéns! Você acertou a senha! :D')

Digite uma senha: Rogerio2019
Parabéns! Você acertou a senha! :D

## Exercicio

- Peça o país, o nome e senha para o usuário
- Se estiver errado algum deles, escreva uma mensagem.

In [4]:
pais_correto = "Brasil"
nome_correto = "Rogerio"
senha_correto = "123456"

while True:
    pais = input('Escreva o nome do seu país: ')
    nome = input('Escreva o seu nome: ')
    senha = input('Escreva sua senha: ')

    # se estiver alguma coisa errada
    # pais diferente pais_correto ou nome diferente nome_correto ou senha diferente senha_correto
    if pais == pais_correto and nome == nome_correto and senha == senha_correto:
        print('Acesso permitido.')
        break
    # caso contrário
    else:
        print('Acesso negado. Tente novamente.')

Escreva o nome do seu país: Brasil
Escreva o seu nome: Rogerio
Escreva sua senha: 123456
Acesso permitido.

### Operadores lógicos

#### Or (Ou)
Se um é True, retorna o valor True

#### And (E)
Se todos forem True, retorna o valor True

### Loop (for)

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Estruturas de dados
Uma estrutura com dados

- Listas

In [8]:
lista = [1, 2, 3, 4, 'rogerio', 'maçã', True, False, 12.3, 45.6]

In [10]:
lista_de_listas = [[1, 2, 3], [4, 5], lista, 'palavra', True, 3.1415, [5, 3, 1]]

In [12]:
lista_de_listas2 = [['a', 'b', 'c'], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
lista_de_listas2

[['a', 'b', 'c'], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
lista[7]

False

In [21]:
lista_de_listas2[0][2]

'c'

In [24]:
lista[-1]

45.6

In [31]:
lista2 = list(range(100))

In [40]:
lista2[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
lista2[:20]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
lista2[90:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [45]:
lista2[10]

10

In [46]:
lista2[10] = 'alguma coisa'

In [47]:
lista2[10]

'alguma coisa'

In [48]:
lista2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'alguma coisa',
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [49]:
lista + lista2

[1,
 2,
 3,
 4,
 'rogerio',
 'maçã',
 True,
 False,
 12.3,
 45.6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'alguma coisa',
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [52]:
lista_a = list(range(10))
lista_b = list(range(10, 20, 2))
print(lista_a)
print(lista_b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 12, 14, 16, 18]

In [53]:
lista_a*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
lista_b*2

[10, 12, 14, 16, 18, 10, 12, 14, 16, 18]

In [59]:
print(lista_a)

soma = 0
for item in lista_a:
    soma = soma + item
    print('Item da lista: ', item)
    print('Resultado parcial: ', soma)
    
print('Resultado: ', soma)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Item da lista:  0
Resultado parcial:  0
Item da lista:  1
Resultado parcial:  1
Item da lista:  2
Resultado parcial:  3
Item da lista:  3
Resultado parcial:  6
Item da lista:  4
Resultado parcial:  10
Item da lista:  5
Resultado parcial:  15
Item da lista:  6
Resultado parcial:  21
Item da lista:  7
Resultado parcial:  28
Item da lista:  8
Resultado parcial:  36
Item da lista:  9
Resultado parcial:  45
Resultado:  45

In [60]:
lista_b

[10, 12, 14, 16, 18]

#### Enumerate!

In [64]:
for index, value in enumerate(lista_b):
    print('index: ', index)
    print('value: ', value)
    print()

index:  0
value:  10

index:  1
value:  12

index:  2
value:  14

index:  3
value:  16

index:  4
value:  18

In [70]:
for index, value in zip(range(len(lista_b)), lista_b):
    print('index: ', index)
    print('value: ', value)
    print()

index:  0
value:  10

index:  1
value:  12

index:  2
value:  14

index:  3
value:  16

index:  4
value:  18

In [76]:
lista_receita = [1200, 1000, 2000, 4000, 5000]
lista_custo = [800, 100, 200, 10, 1000]

In [77]:
lista_receita - lista_custo

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [79]:
for receita, custo in zip(lista_receita, lista_custo):
    print('Lucro: ', receita - custo)

Lucro:  400
Lucro:  900
Lucro:  1800
Lucro:  3990
Lucro:  4000

### POO

- Classes e Objetos
  - Atributos
  - Métodos
  
Um objeto tem atributos e métodos.

Atributo é uma característica do objeto.

Método é uma função do objeto.

Exemplo:
- Objeto: Pessoa
- Atributo: Altura
- Método: Pular

In [121]:
lista_rogerio = []

In [122]:
str(123123)

'123123'

In [123]:
lista_rogerio.append('rogerio')
lista_rogerio

['rogerio']

In [124]:
lista_outra = ['de', 'campos']
lista_rogerio.extend(lista_outra)
lista_rogerio

['rogerio', 'de', 'campos']

In [125]:
lista_rogerio.insert(0, 'professor')
lista_rogerio

['professor', 'rogerio', 'de', 'campos']

In [126]:
lista_rogerio.remove('de')
lista_rogerio

['professor', 'rogerio', 'campos']

In [127]:
lista_rogerio.append('rogerio')

In [129]:
lista_rogerio

['professor', 'rogerio', 'campos', 'rogerio']

In [128]:
lista_rogerio.count('rogerio')

2

## Exercicio!

In [130]:
# importar a biblioteca pandas
import pandas as pd

# Lê o arquivo
df = pd.read_csv('data/iris.txt')

# Pega a primeira coluna como lista
lista = list(df['sepal_length'])

In [140]:
# calcular média
soma = 0
tamanho = 0
for i in lista:
    soma = soma + i
    tamanho = tamanho + 1
    
media = soma/tamanho
print(media)

5.843333333333335

In [141]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000